body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
}

.fixedSide {
    width: 20%;
    height: 100vh;
    position: fixed;
    background: #162447;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around
}

.me {
    width: 180px;
    height: 188px;
    border: 5px solid white;
    border-radius: 50%;
    padding: 2px;
}

.landing {
    border-bottom: 1px solid whitesmoke;
}

.fixedSide p {
    color: white;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 8px;
    transition: all 0.5s;
    border-radius: 4px;
}

.fixedSide p:hover {
    color: #202040;
    background: white;
}

.mainFolio {
    margin-left: 20%;
}

.main-page {
    width: 100%;
    height: 100vh;
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
}

.main-image {
    width: 40%;
    justify-self: flex-start;
}

.main-content {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 80%;
    justify-self: flex-end;
    padding: 50px;
}

img {
    width: 100%;
    height: auto;
    padding: 20px;
}

.heading {
    font-size: 4rem;
    color: black;
    margin: 0;
}

.heading span {
    color: #FF4E50;
    /* fallback for old browsers */
    color: -webkit-linear-gradient(to right, #F9D423, #FF4E50);
    /* Chrome 10-25, Safari 5.1-6 */
    color: linear-gradient(to right, #F9D423, #FF4E50);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.profile {
    font-size: 2.5rem;
    font-weight: 500;
}

.description1 {
    font-size: 1.2rem;
    word-wrap: break-word;
}

.description {
    font-size: .8rem;
    word-wrap: break-word;
}

.description1 a {
    text-decoration: none;
    font-size: 1.2rem;
    padding: 2px;
    font-weight: 300;
    color: orangered;
}

.description1 a:hover {
    font-weight: 600;
}

.social {
    display: flex;
    width: 30%;
    justify-content: space-between;
}

.social img {
    width: 28px;
    height: 28px;
    padding: 0;
}

.social img:hover {
    cursor: pointer;
}

.Section-skills {
    height: 100vh;
    border-bottom: 1px solid whitesmoke;
}

.skills {
    width: 100%;
    height: auto;
    padding: 10px;
    /* background: #dfe6e9; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    margin-left: 5%;
    margin-top: 10%;
}

.skill-div {
    width: 100%;
    padding: 2rem;
}

.skill-set {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    /* justify-content: space-around;
    align-items: center; */
    /* margin: 0 auto; */
    width: 50%;
}

.skills-text {
    width: auto;
    margin-left: 1%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

i {
    padding: 10px;
    background: #363062;
    color: whitesmoke;
}

.skilsSet {
    padding: 10px;
    font-size: 1.1rem;
}

.skill-set img {
    width: 90px;
    height: 90px;
    /* border-radius: 50%; */
    /* -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    /* filter: grayscale(100%); */
}

.skill-set img:hover {
    -webkit-filter: grayscale(0%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}

.skill-heding {
    font-size: 3rem;
    color: #FF4E50;
    /* fallback for old browsers */
    color: -webkit-linear-gradient(to right, #F9D423, #FF4E50);
    /* Chrome 10-25, Safari 5.1-6 */
    color: linear-gradient(to right, #F9D423, #FF4E50);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-weight: 700;
    padding: 0;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 0;
}

.timeline-section {
    width: 100%;
    height: auto;
    margin: 0 auto;
    border-bottom: 1px solid whitesmoke;
}

.timeline::before {
    content: '';
    width: 5px;
    height: 100%;
    background: grey;
    top: 0;
    left: 50%;
    position: absolute;
    overflow: hidden;
}

.timeline {
    width: 53%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    position: relative;
    height: auto;
}

.timeline1,
.timeline3,
.timeline5 {
    text-align: right;
    align-self: flex-start;
    margin-left: -60px;
}

.timeline2,
.timeline4 {
    text-align: left;
    margin-right: -60px;
    align-self: flex-end;
}

.timeline-item {
    width: 50%;
    position: relative;
    margin-bottom: 5px;
}

.timeline-item:nth-child(odd):before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background: white;
    border-radius: 50%;
    border: 2px solid #827397;
    left: 119%;
    top: 0px;
}

.timeline-item:nth-child(even):before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background: white;
    border-radius: 50%;
    border: 2px solid #827397;
    left: -23%;
    top: 0px;
}

.timeline .title {
    font-size: 1rem;
    font-weight: bold;
    margin-top: 0;
}

.timeline .time {
    font-size: .7rem;
    font-style: italic;
}

.timeline5 {
    margin-bottom: 0;
}

.timeline-item:nth-child(even) .time {
    position: absolute;
    left: -200px;
    top: -4px;
    padding: 5px;
    background: #827397;
    color: white;
    width: 90px;
    text-align: center;
    font-weight: 600;
}

.timeline-item:nth-child(odd) .time {
    position: absolute;
    left: 408px;
    top: -4px;
    padding: 5px;
    background: #827397;
    color: white;
    width: 90px;
    text-align: center;
    font-weight: 600;
}

.timeline-section {
    padding-top: 30px;
    border-bottom: 2px solid whitesmoke;
    border-top: 4px solid white;
}

.portfolio {
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: 4px solid white;
    /* background: whitesmoke; */
}

.work {
    color: orangered;
}

.my-work {
    max-width: 90%;
    height: 50vh;
    margin: 0 auto;
    /* max-height: 60%;
    /* border: 3px solid orangered; 
    margin-bottom: 20px; */
    display: flex;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    padding: 10%;
}

.grid {
    display: grid;
    grid-gap: 3px;
    grid-template-columns: 1fr 1fr 1fr;
}

.grid img {
    width: 300px;
    height: 200px;
}

.grid img:hover {
    width: 800px;
    height: 600px;
    position: absolute;
}

.footer-div {
    width: 100%;
    height: 12vh;
    background: #2d3436;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote {
    width: 100%;
    font-style: italic;
    font-size: 1.1rem;
    color: grey;
    /* position: absolute; */
    /* left: 20%;
    bottom: 30%; */
    transition: all 0.5s;
    align-self: center;
    margin-left: 25%;
}

.quote:hover {
    color: white;
}

@media (max-width: 767px) {
    .timeline::before {
        left: 0;
    }
    .timeline-item:nth-child(even) .time {
        left: -20px;
    }
    .timeline-item:nth-child(odd) .time {
        left: -15px;
    }
    .timeline-item:nth-child(even):before {
        left: -65px;
    }
    .timeline-item:nth-child(odd):before {
        left: -65px;
    }
    .timeline-item {
        width: 100%;
    }
    .timeline1,
    .timeline3,
    .timeline5 {
        text-align: left;
        margin-left: 60px;
    }
    .timeline2,
    .timeline4 {
        text-align: left;
    }
    .timeline {
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        position: relative;
        height: auto;
    }
    .title {
        margin-top: 20px;
    }
}